{% extends "::base.html.twig" %}

{% block title %}Liste des bridges{% endblock %}

{% block body %}
<h1>Liste des bridges</h1>
<div class="container">
{%for bridge in allbridges%}
	<div class="row">
		<p>{{ bridge.name }} - {{bridge.guid}} </p>
	</div>

	
{% endfor %}
</div>
{% endblock %}
