{% extends "::base.html.twig" %}

{% block title %}Devices{% endblock %}

{% block body %}
<h1>Liste des devices</h1>

<div class="container">
{%for device in alldevices%}
	<div class="row">
		<p>{{ device.name }} - {{device.guid}} </p>
	</div>

	
{% endfor %}
</div>


{% endblock %}
